.fon{
    width: 100%;
}
body{
    margin: auto;
    font-family: "Montserrat", sans-serif;
    background-color: #f2c140;
    
}
h1{
    font-family: "Italianno",cursive;
    font-size: 50px;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
}
h2,h3{
    font-family: "Gluten",cursive;
}
.top{
    position: relative;
}
.container{
    
    min-width: 1343px;
    max-width: 1343px;
    margin: 50px auto;
    /* text-align: center; */
}

.man1 {
    top: 100px;
    right:  210px;
}
.man2 {
    bottom:  200px;
    right:  80px;
}
.man3 {
    top: 70px;
    left: 50px;
}

.man4 {
    top: -10px;
    left: 1100px;
}

.man5 {
    top: 20px;
    left: 310px;
}

.man6 {
    bottom: 200px;
    left: 155px;
}

.man7 {
    top: 0px;
    right:  380px;
}

.rounded {
    width: 180px;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    transition: 1s;
   }
.rounded:hover{
    width: 300px;
    z-index: 100;
}

.member{
    
    width: 80%;
    margin: auto;
    line-height: 30px;
    overflow:hidden;
    height: 300px;
}
.big-image{
    height: 100%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.to-right{
    float: right;
}
.to-left{
    float: left;
}
.up-arrow{
    position: fixed;
    width: 65px;
    bottom: 10px;
    right: 10px;
    margin: auto 10px 10px auto;
}
*{
    scroll-behavior: smooth;
}
.bottom{
    background-color: #eb9f0e;
    padding: 40px 0px;
    text-align: center;
}
.bottom a{
    padding: 0 20px;
    text-decoration: none;
    color: #422c03;
    font-weight: 600 ;
    
}
.bottom p{
    color: white;
    margin-top: 40px;
}
.about{
    text-align: center;
    padding: 100px;
}
hr{
    width: 80px;
    margin:  100px auto;
    border: none;
    border-top: 10px dotted #eb9f0e;
}